.section-container{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    width:100%;
    padding-top:2rem;
    background-color: white;
    z-index:2;
}
 /*Mobile M*/
/* @media (min-width: 375px) {} */

/*Mobile L*/
@media (min-width: 425px) { 
  .section-container{ 
    padding-top:2rem;
    gap:4rem;
 }
}

/*Tablet*/
@media (min-width: 480px) {
  .section-container{
    flex-direction:row-reverse;
    gap:0rem;
 }
}

/* Laptop S*/
/* @media (min-width: 768px) {} */

/* Laptop M */
@media (min-width: 1024px) {
    .section-container{
        padding-top:6rem;
    }
}

/* Laptop L */
@media (min-width: 1280px) {
    .section-container{
    padding-top:5rem;
}}

/* Laptop XL */
/* @media (min-width: 1536px) {.section-container{}} */